body{
	font-family: 'Manjari', sans-serif;
	font-size: 22px;
	margin-top: 20px;
	margin-right: 250px;
	margin-left: 250px;
}

a{
	color: black;
}

a:visited{
	color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.nameClass{
	font-family: 'Manjari', sans-serif;
	background-color: #5CC5E0;
	font-weight: bold;
}

.navMenu{
	text-align: left;
	vertical-align: top;
}

.blockBox{
	color: black;
	background-color: lightgrey;
}

.contentClass{
	text-indent: 0px;
	word-wrap: initial;
	background-color: lightgrey;
	width: 600px;
	padding: 50px;
	left: 100px;
	bottom: 518px;
}

.fontSize1{
	font-size: 24px;
}

.imageLearn{
	height: 280px;
	width: 656px;
}

.imageAlign{
	vertical-align: top;
	float: right;
}

.imageAlignleft{
	vertical-align: top;
	float: left;
	margin-top: 15px;
}

.contentIndex{
	float: left;
	background-color: lightgrey;
	padding-top: 160px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 100px;
	text-align: center;
}

.aboutMe{
	float: left;
	background-color: lightgrey;
	padding-top: 80px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 80px;
	color: black;
	font-size: 18px;
}

.contactMe{
	float: left;
	background-color: lightgrey;
	padding-top: 120px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 100px;
	text-align: center;
}

.projectClass{
	background-color: lightgrey;
	padding-top: 80px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 80px;
	text-align: center;
}

.projectClassright{
	background-color: lightgrey;
	padding-top: 150px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 80px;
	text-align: center;
}

.projectClassleft{
	background-color: lightgrey;
	padding-top: 150px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 80px;
	text-align: center;
}

.floatRight{
	float: right;
}

.floatLeft{
	float: left;
}

.centerText{
	text-align: center;
}

.footer{
	display: inline-block;
	background-color: #5CC5E0;
	color: black;
	width:100%;
	height:14px;
	text-align:right;
	font-size: 14px;
	font-weight: bold;
}

.rightText{
	text-align: right;
}

.leftText{
	text-align: left;
}

.blackBackground{
	background-color: black;
}

.blueBackground{
	background-color: #5CC5E0;
}

.marginLeft{
	margin-left: 0px;
}